<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="{{ file_url(module_path ~ '/js/cool.js') }}"></script>
    <link href="{{ file_url(module_path ~ '/css/cool.css') }}" rel="stylesheet" />
  </head>
  <body class="cool-editor__body">
    {{ include('collabora-online.html.twig') }}
  </body>
</html>
