<!-- Let's output the three variables passed to this template -->

{{ message1 }}

<div>
<iframe id="collabora-online-viewer" name="collabora-online-viewer" style="width:60%;height:80%;position:absolute;" src="{{ wopiSrc }}"></iframe>
</div>
