<div>
  <p>{{ fileName }} <button onclick="previewField('{{ editorUrl }}');">View</button></p>
  <dialog id="cool-editor__dialog" class="cool-editor__dialog">
    <iframe class="cool-frame__preview"></iframe>
  </dialog>
</div>
