<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="/modules/custom/collabora_online/js/cool.js"></script>
    <link href="/modules/custom/collabora_online/css/cool.css" rel="stylesheet" />
  </head>
  <body class="cool-editor__body">
    {{ include('collabora-online.html.twig') }}
  </body>
</html>
